.products {
  text-align: center;

  &__header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    margin-bottom: 20px;
  }

  &__img {
    text-align: center;
    max-width: 300px;
  }
}
