.promotions {
  padding: 25px;

  &__bg {
    background-color: #6dcff6;
  }

  &__header {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 0px 5px 9px rgba(124, 124, 124, 1);
  }
}

@media screen and (min-width: 768px) {
  .promotions {
    padding: 45px 25px;
  
    &__header {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .promotions {
    padding: 45px 25px;
  
    &__header {
      font-size: 45px;
    }
  }
}
